@model VolunteerCenterMVCProject.ViewModels.Locations.CreateVM


<form action="/Locations/Create" method="post">
	<div class="grid">
		<div class="row">
			<div class="col-2">
				<label class="form-label">@Html.DisplayNameFor(m => m.Address) </label>
			</div>
			<div class="col-6 mb-3">
				@Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
			</div>
			<div>
				@Html.ValidationMessageFor(m => m.Address, null, new { @class = "text-danger" })
			</div>
		</div>
		<div class="row">
			<div class="col-2">
				<label class="form-label">@Html.DisplayNameFor(m => m.City) </label>
			</div>
			<div class="col-6 mb-3">
				@Html.TextBoxFor(m => m.City, new { @class = "form-control" })
			</div>
			<div>
				@Html.ValidationMessageFor(m => m.City, null, new { @class = "text-danger" })
			</div>
		</div>
		<div class="row">
			<div class="col-2">
				<label class="form-label">@Html.DisplayNameFor(m => m.Country) </label>
			</div>
			<div class="col-6 mb-3">
				@Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
			</div>
			<div>
				@Html.ValidationMessageFor(m => m.Country, null, new { @class = "text-danger" })
			</div>
		</div>

		<div class="row">
			<div class="col-3">
				<input type="submit" value="Create" />
				<a href="/Locations/Index">Back</a>
			</div>
		</div>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}