@using VolunteerCenterMVCProject.Common
@model VolunteerCenterMVCProject.ViewModels.Locations.IndexVM


<div class="grid">

	<div class="row align-items-center g-3 mb-3">
		<form action="/Locations/Index" method="get" class="d-flex w-100">
			@foreach (var key in this.ViewContext.HttpContext.Request.Query.Keys)
			{
				if (key != "City" && key != "Country" && key != "Pager.Page")
				{
					<input type="hidden" name="@key" value="@this.ViewContext.HttpContext.Request.Query[key]" />
				}
			}
			<div class="col-md-3 me-3">
				@Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "City" })
			</div>
			<div class="col-md-3 me-3">
				@Html.TextBoxFor(m => m.Country, new { @class = "form-control", placeholder = "Country" })
			</div>
			<div class="col-md-3 d-flex justify-content-end">
				<a href="/Locations/Index" class="btn btn-secondary me-2">Clear</a>
				<input type="submit" value="Filter" class="btn btn-primary" />
			</div>
		</form>
	</div>

	<div class="row">
	</div>
	<div class="container mt-4">
		@if (User.IsInRole(Constants.AdminRole))
		{
			<p id="my-p">
				<a asp-action="Create" class="btn" style="background-color:turquoise">Create New</a>
			</p>
		}
		<div class="row text-center border-bottom pb-2 mb-2">
			<div class="col-3 font-weight-bold">@Html.DisplayNameFor(m => m.Address)</div>
			<div class="col-3 font-weight-bold">@Html.DisplayNameFor(m => m.City)</div>
			<div class="col-3 font-weight-bold">@Html.DisplayNameFor(m => m.Country)</div>
			<div class="col-3 font-weight-bold">Actions</div>
		</div>

		@foreach (var item in Model.Locations)
		{
			<div class="row text-center align-items-center py-2 border-bottom">
				<div class="col-3">@item.Address</div>
				<div class="col-3">@item.City</div>
				<div class="col-3">@item.Country</div>
				<div class="col-3">
					<a href="/Locations/Edit?id=@item.Id" class="btn btn-sm btn-primary me-2">Edit</a>
					<a href="/Locations/Delete?id=@item.Id" class="btn btn-sm btn-danger">Delete</a>
				</div>
			</div>
		}
	</div>

</div>
</div>
