@model VolunteerCenterMVCProject.ViewModels.Categories.CreateVM


<form action="/Categories/Create" method="post">
	<div class="grid">
		<div class="row">
			<div class="col-2">
				<label class="form-label">@Html.DisplayNameFor(m => m.Name) </label>
			</div>
			<div class="col-6 mb-3">
				@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
			</div>
			<div>
				@Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
			</div>
		</div>
		<div class="row">
			<div class="col-2">
				<label class="form-label">@Html.DisplayNameFor(m => m.Description) </label>
			</div>
			<div class="col-6 mb-3">
				@Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
			</div>
			<div>
				@Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
			</div>
		</div>

		<div class="row">
			<div class="col-3">
				<input type="submit" value="Create" />
				<a href="/Categories/Index">Back</a>

			</div>
		</div>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}