@model VolunteerCenterMVCProject.ViewModels.Categories.EditVM


<form action="/Categories/Edit" method="post">
	<div class="grid">
		@Html.HiddenFor(m => m.Id)
		<div class="row">
			<div class="col-2">
				<label class="form-label">@Html.DisplayNameFor(m => m.Name) </label>
			</div>
			<div class="col-6 mb-3">
				@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
			</div>
		</div>
	<div class="row">
		<div class="col-2">
			<label class="form-label">@Html.DisplayNameFor(m => m.Description) </label>
		</div>
		<div class="col-6">
			@Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "3" })
		</div>
	</div>
	<div class="row">
		<div class="col-3">
			<input type="submit" value="Save" />
			<a href="/Categories/Index">Back</a>
		</div>
	</div>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}