@model VolunteerCenterMVCProject.ViewModels.Users.CreateUserVM


<form action="/Users/Create" method="post">
    <div class="grid">
        <div class="row">
            <div class="col-1">@Html.DisplayNameFor(m => m.Email)</div>
            <div class="col-2">
                @Html.TextBoxFor(m => m.Email)
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="row">
            <div class="col-1">@Html.DisplayNameFor(m => m.Password)</div>
            <div class="col-2">
                @Html.PasswordFor(m => m.Password)
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="row">
            <div class="col-1">@Html.DisplayNameFor(m => m.ConfirmPassword)</div>
            <div class="col-2">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="row">
            <div class="col-1">@Html.DisplayNameFor(m => m.FirstName)</div>
            <div class="col-2">
                @Html.TextBoxFor(m => m.FirstName)
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
        </div>
        <div class="row">
            <div class="col-1">@Html.DisplayNameFor(m => m.LastName)</div>
            <div class="col-2">
                @Html.TextBoxFor(m => m.LastName)
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input type="submit" value="Create" />
                <a href="/Users/Index">Back</a>
            </div>
        </div>
    </div>
</form>