@using VolunteerCenterMVCProject.Common
@using VolunteerCenterMVCProject.Models
@model VolunteerCenterMVCProject.ViewModels.Users.EditUserVM
@inject UserManager<User> UserManager
@{
	var loggedUser = await UserManager.GetUserAsync(User);
}

<form action="/Users/Edit" method="post">
	<div class="grid">
		@Html.HiddenFor(m => m.Id)
		<div class="row">
			<div class="col-1">
				<label class="form-label">@Html.DisplayNameFor(m => m.FirstName) </label>
			</div>
			<div class="col-6 mb-3">
				@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
			</div>
			<div>
				@Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "text-danger" })
			</div>
		</div>
		<div class="row">
			<div class="col-1">
				<label class="form-label">@Html.DisplayNameFor(m => m.LastName) </label>
			</div>
			<div class="col-6">
				@Html.TextBoxFor(m => m.LastName, new { @class = "form-control"})
			</div>
			<div>
				@Html.ValidationMessageFor(m => m.LastName,null, new {@class = "text-danger"})
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<input type="submit" value="Save" />
				@if (await UserManager.IsInRoleAsync(loggedUser, Constants.VolunteerRole))
				{
					<a href="/Users/Details?id=@Model.Id">Back</a>
				}
				else
				{
					<a href="/Users/Index">Back</a>
				}
			</div>
		</div>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}