@model VolunteerCenterMVCProject.ViewModels.Users.UsersVM


<div class="grid">
	<div class="row">
		<div class="col-3">
			<form action="/Users/Index" method="get">
					@* @foreach (var key in this.ViewContext.HttpContext.Request.Query.Keys)
					{
						if (key != "Username" && key != "FirstName" && key != "LastName" && key != "Pager.Page")
						{
							<input type="hidden" name="@key" value="@this.ViewContext.HttpContext.Request.Query[key]" />
						}
					}
				<div class="grid">
					<div class="row">
						<div class="col-1">Username:</div>
						<div class="col-2">
							Email
						</div>
					</div>
					<div class="row">
						<div class="col-1">First Name:</div>
						<div class="col-2">
							First Name
						</div>
					</div>
					<div class="row">
						<div class="col-1">Last Name</div>
						<div class="col-2">
							Last Name
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<a href="/Users/Index">Clear</a>
							<input type="submit" value="Filter" />
						</div>
					</div>
				</div> *@
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-1">
			<a href="/Users/Create">New</a>
		</div>
	</div>
	<div class="container mt-4">

		<div class="row text-center border-bottom pb-2 mb-2">
			<div class="col-3 font-weight-bold">Username</div>
			<div class="col-3 font-weight-bold">First Name</div>
			<div class="col-3 font-weight-bold">Last Name</div>
			<div class="col-3 font-weight-bold">Actions</div>
		</div>

		@foreach (var item in Model.Users)
		{
			<div class="row text-center align-items-center py-2 border-bottom">
				<div class="col-3">@item.Email</div>
				<div class="col-3">@item.FirstName</div>
				<div class="col-3">@item.LastName</div>
				<div class="col-3">
					<a href="/Users/Edit?id=@item.Id" class="btn btn-sm btn-primary me-2">Edit</a>
					<a onclick="return confirm('Delete item?')" href="/Users/Delete?id=@item.Id" class="btn btn-sm btn-danger">Delete</a>
				</div>
			</div>
		}

		<!-- Pager -->
		<div class="row mt-4">
			<div class="col text-center">
				@{
					Html.RenderPartial("/Views/Shared/PagerPartial.cshtml", Model.Pager);
				}
			</div>
		</div>
	</div>

	</div>
</div>
